{
    "env": {
        "browser": true,
    },
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "import"
    ],
    "settings": {
        "react": {
            "pragma": "React",
            "version": "16.2.0"
        }
    },
    "rules": {
        "jsx-quotes": ["error", "prefer-double"],
        "react/jsx-key": "error",
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-no-bind": ["error", {
            "ignoreRefs": true,
            "allowArrowFunctions": true,
            "allowBind": false
        }],
    },
    "extends": [
        "eslint:recommended", 
        "plugin:react/recommended"
        ]
}