body {
    line-height: 2;
    background-color: white;
}

.centered {
    position: absolute;
    left: 50%;
    top: 10%;
    -webkit-transform: translate(-50%, -10%);
    transform: translate(-50%, -10%);
}

text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 16px;
    letter-spacing: 0.02em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.node rect,
.node ellipse {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
}

.node.COMPONENT ellipse {
    fill: #D79922;
    stroke: #999;
}

.node.MODULE > rect {
    fill: #EFE2BA;
    stroke: #999;
}

.node.selected > rect,
.node.selected > ellipse {
    fill: rgb(221, 98, 16);
}

.node.neighbourSelected > rect,
.node.neighbourSelected > ellipse {
    fill: rgb(245, 169, 118);
}

.edgePath path {
    stroke: #999;
    stroke-width: 1.5px;
}

.edgePath.selected path {
    stroke: rgb(221, 98, 16);
    stroke-width: 2.5px;
}

.edgePath.unselected path {
    opacity: 0.3;
}

.edgePath.CONTRIBUTES_TO path{
    stroke-dasharray: 5, 5;
}

.cluster {
    fill: rgb(255, 255, 225);
    stroke: black;
}
